.navbar {
  display: flex;
  height: 70px;
  background-color: #ffff;
  justify-content: flex-end;
  .menu-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
    .avatar {
      margin-right: 5px;
    }

    .menu {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
